- if local_assigns[:stories]
  = render partial: 'projects/stories/story', collection: local_assigns[:stories]
- else
  = render partial: 'projects/stories/story', collection: Project.find(local_assigns[:project_id]).stories.where(state: local_assigns[:state]).ranked
