aside.sidebar.bg-gray-100.border-r.border-gray-200.flex.flex-col.h-full[
  aria-label="sidebar"
  data-controller="sidebar"
  data-sidebar-collapsed-value="false"
  data-sidebar-project-id-value="#{@project.id}"
]
  / Collapse toggle
  .flex.border-b.border-gray-300
    button.p-4.w-full.rounded.hover:bg-gray-200.cursor-pointer[
      title="Toggle Sidebar"
      data-action="click->sidebar#toggleCollapse"
      data-sidebar-target="toggle"
    ]
      svg.w-5.h-5[xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"]
        path[d="M3 18h13v-2H3v2zm0-5h10v-2H3v2zm0-7v2h13V6H3zm18 9.59L17.42 12 21 8.41 19.59 7l-5 5 5 5L21 15.59z"]

  / Navigation items
  section.h-full
    ul.space-y-1
      = render 'projects/sidebar_item',
        icon: 'my_work',
        title: 'My Work',
        count: 0,
        panel_name: 'my_work',
        active: cookies["toggle-my_work"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'current',
        title: 'Current Iteration',
        count: nil,
        panel_name: 'current',
        active: cookies["toggle-current"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'backlog',
        title: 'Backlog',
        count: nil,
        panel_name: 'backlog',
        active: cookies["toggle-backlog"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'icebox',
        title: 'Icebox',
        count: nil,
        panel_name: 'icebox',
        active: cookies["toggle-icebox"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'done',
        title: 'Done',
        count: nil,
        panel_name: 'done',
        active: cookies["toggle-done"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'blocked',
        title: 'Blocked',
        count: 0,
        panel_name: 'blocked',
        active: cookies["toggle-blocked"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'epic',
        title: 'Epics',
        count: nil,
        panel_name: 'epics',
        active: cookies["toggle-epics"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'label',
        title: 'Labels',
        count: nil,
        panel_name: 'labels',
        active: cookies["toggle-labels"].present?,
        project: @project

      = render 'projects/sidebar_item',
        icon: 'history',
        title: 'Project History',
        count: nil,
        panel_name: 'history',
        active: cookies["toggle-history"].present?,
        project: @project

  / Display settings
  .flex.flex-col.p-4.border-t.border-gray-200
    .flex.items-center.justify-between.mb-2[data-sidebar-target="collapsible"]
      span.font-medium.text-gray-800 Display:
      span.text-gray-600 Normal
      svg.w-4.h-4.text-gray-500[xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"]
        path[d="M7 10l5 5 5-5z"]

    .flex.items-center
      button.p-1.rounded.hover:bg-gray-200[title="Panel Width"]
        svg.w-4.h-4.text-gray-600[xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"]
          path[d="M19 12h-2v3h-3v2h5v-5zM7 9h3V7H5v5h2V9zm14-6H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z"]
      .flex-1.px-2[data-sidebar-target="collapsible"]
        .h-1.bg-gray-300.rounded-full
