= panel @panel_id, title: "Current Iteration", velocity: true, add_story: true, close: true, actions: true do

  #column-current data-controller="sortable" data-sortable-column-value="current"
    = render 'projects/iterations/column', iterations: [@current_iteration]

  = render "projects/stories/form", story: @project.stories.new
